@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */
* {
  margin: 0;
  padding: 0;
}
/* nav bar */

#logo {
  display: flex;
  margin-left: 1%;
}

#logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* logo */
#logo img {
  border: 1px solid aquamarine;
  border-radius: 30px;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
/* header */
.nav-top {
  display: flex;
  justify-content: space-between;
}
/* nav list */
.nav-list {
  display: flex;
  column-gap: 1.2rem;
  list-style: none;
  padding-right: 0.5rem;
  margin-right: 1.5%;
}

.nav-list > li {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.nav-list > li > a {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: aqua;
}

header {
  grid-area: nav;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.contact {
  background-image: url(../assets/images/contact.jpg);
  display: grid;
  height: 100vh;
  width: 100vw;
  color: pink;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.2fr 5.8fr 1fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav"
    "c1"
    "c2"
    "footer";

}
.contact-group {
 grid-area: c1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 grid-area: c1;
 border: 0.3px solid palegreen;
 font-size: 0.7rem;
 padding:1%;
}
.contact-icon img{
    width: 20px;
    height:20px;
    /* padding-right: 2%; */
    padding-top: 2%;
}
.contact-request {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
letter-spacing: 1.5px;
grid-area: c2;
border: 1px solid white;
font-size: 0.8rem;
}
.contact-request p{
    font-size: 1rem;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: footer;
  background-color: #14141f;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.5rem;
  letter-spacing: 2px;
}

button {
    height:35px;
    width: 80px;
    border-radius: 10px;
    color: white;
    background-color:  #00b38f;
    font-size: medium;
    align-self: center;
    margin: 1%;
  }  
/* 
/* 400px tp 800px responsive */
@media only screen and (min-width: 400px) {
  #logo img {
    width: 3.2rem;
    height: 3.2rem;
  }
  .nav-list li {
    font-size: 1rem;
    display: flex;
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
  }
 .contact{
   color: lightgreen;
 }
.contact-icon img{
    width: 30px;
    height:30px;
    padding: 1%;
}
  .contact-group {
    font-size: 1.2rem;
  }
  .contact-request p {
    font-size: 1.3rem;
  }
  .contact-request{
      font-size:0.9rem;
    }
  .footer {
    font-size: 0.8rem;
  }
}

/* 800px  and above width */
@media only screen and (min-width: 800px) {
    #logo img {
        width: 4rem;
        height: 4rem;
      }
      .nav-list li{
        font-size: 1.1rem;
      }
    .nav-top {
      display: flex;
      justify-content: space-between;
    }
    .contact{
      color: white;
    }
  .contact-icon img{
      width: 40px;
      height:40px;
      padding: 1%;
  }
    .contact-group {
      font-size: 1.3rem;
    }
    .contact-request p {
      font-size: 1.3rem;
    }
    .contact-request{
        font-size: 1.2rem;
      }
    .footer {
      font-size: 1rem;
    }
  }