@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* display: flex; */
  background-color: aqua;
}

/* nav bar */
nav{
    width: 100%;
    display: flex;
}

#logo{
  display: flex;
}

#logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* logo */
#logo img {
  border: 1px solid aquamarine;
  border-radius: 30px;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
/* header */
.nav-top {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
/* nav list */
.nav-list {
  display: flex;
  column-gap: 1.2rem;
  font-size: 1rem; 
  list-style: none;
  padding-right: 0.5rem;
}

.nav-list > li {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.nav-list > li > a {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: aqua;
}

/* contact */
.contact {
  background-image: url(./assets/images/contact.jpg);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 0.14fr 1fr 0.2fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav nav"
    "c1 c2"
    "footer footer";
}

.contact-group {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 grid-area: c1;
 color: aquamarine;
 border: 1px solid wheat;
}

.contact-request {
  text-align: center;
  padding-top: 3%;
  letter-spacing: 1.5px;
  color:white;
  font-size: 20px;
  grid-area: c2;
  border: 1px solid white;
}

#contact-icon img {
  border-radius: 40px;
  padding: 10px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: rgb(163, 95, 31);
  font-size: medium;
  align-self: center;
  margin: 2%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: footer;
  background-color: #14141f;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}
