@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  background-color: antiquewhite;
}

/* nav bar */

#logo{
  display: flex;
}

#logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* logo */
#logo img {
  border: 1px solid aquamarine;
  border-radius: 30px;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
/* header */
.nav-top {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}
/* nav list */
.nav-list {
  display: flex;
  column-gap: 1.2rem;
  font-size: 1rem; 
  list-style: none;
  padding-right: 0.5rem;
}

.nav-list > li {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.nav-list > li > a {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: aqua;
}

/* mobile responsive */
@media only screen and (max-width: 400px) {
  .nav-list {
    font-size: 0.8rem;
    display: flex;

  }
  .nav-top {
    display: flex;
    justify-content: space-around;
  }
  .homepage {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr 1fr;
    grid-row-gap: 0.1vh;
    grid-column-gap: 0.1vw;
    grid-template-areas:
      "nav nav nav nav nav"
      "main main main main main"
      "c1 c1 c1 c2 c2"
      "footer footer footer footer footer";
  }

}

/* homepage */
.homepage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1.5fr;
  grid-template-rows: 1fr 4.5fr 3.5fr 1.5fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav nav nav nav nav"
    "main main main main c1"
    "main main main main c2"
    "footer footer footer footer footer";
}

header {
  background-color: aquamarine;
  grid-area: nav;
  width: 100%;
  background-color: black;
}
.homepage-content {
  background-color: aquamarine;
  background-image: url(./assets/images/hm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: main;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  text-shadow: 2px 2px 8px rgb(245, 10, 10);
}

.content1 {
  grid-area: c1;
  background-image: url(./assets/images/c1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: aqua;
}
.content2 {
  grid-area: c2;
  background-image: url(./assets/images/c1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: aqua;
}






/* about us */
.about-us {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.14fr 1fr 0.2fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav nav"
    "c1 c2"
    "footer footer";
}

nav{
  background-color: aquamarine;
  grid-area: nav;
  width: 100%;
  background-color: black;
}
.about-us-story {
  background-image: url(./assets/images/c1.jpg);
  grid-area: c1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: wheat;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
}

.about-us-img{
  background-image: url(./assets/images/c1.jpg);
  grid-area: c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-img img{
  border: white solid 2px;
  width: 40vw;
  height: 50vh;
}


/* recipes */
.recipes{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 6fr 0.8fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav"
    "menu"
    "footer";
}

.recipes-top {
  background-image: url(./assets/images/re1.jpg);
  grid-area: menu;
  background-color: aquamarine;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-box {
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.recipes-box h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: aqua;
}

.recipes-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1em;
}

.menu-box {
  width: 200px;
  height: 300px;
  padding: 40px;
  background: #262626;
  margin: 20px;
  border: 2px solid #808080;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
}

.menu-box img {
  padding-bottom: 20px;
}

/* contact */
.contact {
  background-image: url(./assets/images/contact.jpg);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.14fr 1fr 0.2fr;
  grid-row-gap: 0.1vh;
  grid-column-gap: 0.1vw;
  grid-template-areas:
    "nav nav"
    "c1 c2"
    "footer footer";
}

.contact-group {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 grid-area: c1;
 color: aquamarine;
 border: 1px solid wheat;
}

.contact-request {
  text-align: center;
  padding-top: 3%;
  letter-spacing: 1.5px;
  color:white;
  font-size: 20px;
  grid-area: c2;
  border: 1px solid white;
}

#contact-icon img {
  border-radius: 40px;
  padding: 10px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: rgb(163, 95, 31);
  font-size: medium;
  align-self: center;
  margin: 2%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: footer;
  background-color: #14141f;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}
