*{
    margin: 0;
    padding:0;

}
nav{
  background-color: #140a00;
  width: 100%;
  height: 85px;
}
/* logo */
nav h4{
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 30px;
  float: left;
}
/* nav links */
li{
  padding:0 30px; 
  float: right;
  line-height: 85px;
  font-size: 18px;
  color: white;
  list-style: none;
}

li a {
color: whitesmoke;
}  

/* homepage */
#homepage{
  background-image: url(./assets/images/1.png);  
  text-align:center ;
  color: white; 
  margin-top: 0;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  height: 84vh;
}
#homepageIntro{
  padding-top: 180px;
}
h1{
  font-size: 60px;
  font-style: italic;
  letter-spacing: 2px;
  color: antiquewhite;
}
h3{
  font-size: 30px;
  font-style: italic;
  letter-spacing: 1px;
  color: antiquewhite;
}

#aboutUs h2{
  padding-top: 50px; 
  text-align: center;
  color: black;
  letter-spacing: 2px;
}
#aboutUs p{
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
}
#aboutImages{
  padding-top: 100px;
}
/* contact */
#request{
  padding-top: 10px;
  text-align: center;
  background-image: url(./assets/images/image6.jpg); 
  height: 84vh;
  width: 100%;
  color: white;
}
#request h2{
  padding-top: 40px;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 1px;
  color: antiquewhite;
}
footer{
  padding: 10px;
  font-size: large;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}